* {
    margin: 0;
    padding: 0;
}

body {
    background: #303030;
}

.container{
    margin: 70px calc((100% - 1200px) / 2);
}

.grid {
    box-sizing: border-box;
    width: 1200px;
    height: 800px;
    background: #fff;
}

.block{
    height: 100%;
}

.row-1 {
    height: 150px;
}

.row-2 {
    height: 320px;
}

.row-2-1 {
    height: 165px;
}

.row-2-2 {
    height: 155px;
}

.row-3 {
    height: 195px;
}

.row-4 {
    height: 135px;
}

 .grid img {
    width: 100%;
    height: 100%;
    padding: 10px;
}
